name: Format & Type Check

on: [push, pull_request]

jobs:
  formatting:
    runs-on: ubuntu-latest
    name: "Check code style"
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # this should be the same as in pyproject.toml
          version: "0.9.17"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Run ruff via nox
        run: |
          uv sync --group nox
          uv run nox -s format_check

  pyright:
    runs-on: ubuntu-latest
    name: "Type checking"
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # this should be the same as in pyproject.toml
          version: "0.9.17"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Run pyright via nox
        run: |
          uv sync --group nox
          uv run nox -s pyright
